.cover {
	min-height: 472px;
}

.cover__info {

}

.cover__preview {
	height: 180px;
	margin-bottom: var(--space-l);
}

.cover__preview .image {
	background-image: url("./images/image-placeholder-inverse.svg");
}

.cover__footer {

}