.footer {
	display: flex;
	justify-content: center;
	padding-top: var(--space-xxxl);
	padding-bottom: var(--space-xxxl);
	background-color: var(--color-base-default);
}

.footer__content {
	display: flex;
	justify-content: space-between;
	max-width: 1280px;
	width: 100%;
}