.image {
	width: 100%;
	height: 100%;
	border: 3px solid;
	border-color: var(--color-base-border);
	background-position: center;
	background-repeat: no-repeat;
}

.theme_color_project-default > .image {
	border: none;
}

.theme_color_project-inverse > .image {
	border: none;
}