.product {
	min-height: 300px;
}

.product__title {
	margin-bottom: var(--space-xxxl);
}

.product__content {

}

.product__image {
	height: 160px;
	background-color: var(--color-base-default);
}

.product__footer {
	flex-direction: column;
}

@media screen and (max-width: $screen-m) {
	.product {
		margin-bottom: -7px;
	}
}