.grid {
	display: grid;
	width: 100%;
}

.grid_m-columns_10 {
	grid-template-columns: repeat(10, 1fr);
}

.grid_m-columns_12 {
	grid-template-columns: repeat(12, 1fr);
}

.grid_col-gap_full {
	grid-column-gap: var(--gap);
}

.grid_col-gap_half {
	grid-column-gap: var(--gap-half);
}

.grid_col-two-thirds {
	grid-column-gap: var(--gap-two-thirds);
}

.grid__fraction {

}

.grid__fraction_m-col_2 {
	grid-column: span 2;
}

.grid__fraction_m-col_3 {
	grid-column: span 3;
}

.grid__fraction_m-col_4 {
	grid-column: span 4;
}

.grid__fraction_m-col_5 {
	grid-column: span 5;
}

.grid__fraction_m-col_8 {
	grid-column: span 8;
}

@media screen and (max-width: $screen-m) {
	.grid_m-columns_10 {
		grid-template-columns: repeat(1, 1fr);
	}

	.grid_m-columns_12 {
		grid-template-columns: repeat(1, 1fr);
	}

	[class*="fraction_m-col"] {
		grid-column: 1;
	}

	.grid__fraction_m-col_2 {
		margin-bottom: var(--gap-half);
	}

	.grid__fraction_m-col_3 {
		margin-bottom: var(--gap-half);
	}

	.grid__fraction_m-col_4 {
		margin-bottom: var(--space-s);
	}

	.grid__fraction_m-col_5 {
		margin-bottom: var(--space-s);
	}

	.grid__fraction_m-col_8 {
		margin-bottom: 8px
	}

	[class*="fraction_m-col"]:last-child {
		margin-bottom: 0;
	}

	.theme_gap_small {
		--gap: var(--space-s);
	}
}