/*- дефолтный #FFFFFF;*/
/*- акцентный #ffcc00;*/
/*- бордерный #000000.*/

/*  Значения состояний текста:*/
/*- основной: #000000;*/
/*- второстепенный: rgba(0, 0, 0, 0.6);*/
/*- дополнительный: rgba(0, 0, 0, 0.3),*/
/*- ссылочный: #0077ff.*/
:root {
	--color-base-default: #ffffff;
	--color-base-accent: #ffcc00;
	--color-base-border: #000000;

	--color-text-base: #000000;
	--color-text-secondary: rgba(0, 0, 0, 0.6);
	--color-text-extra: rgba(0, 0, 0, 0.3);
	--color-text-link: #0077ff;
}